.menu {
    background-color: #222426;
}

.menu .list-block ul::before {
    background-color: #393939;
}

.menu .list-block ul::after {
    background-color: #393939;
}

.menu .list-block .item-inner::after {
    background-color: #393939;
}

.menu .list-block ul li
{
    background-color: #1C1D1F;
    color: #ddd;
}

img, iframe
{
    border: 1px solid #ddd;
    margin: auto;
    width: 100%;
}

p
{
    text-align: justify;
}

hr
{
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0;
}
