<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- Your app title -->
        <title>My App</title>
        <!-- Path to Framework7 Library CSS-->
        <link rel="stylesheet" href="/Resources/ext/Framework7/css/framework7.min.css">
        {# <link rel="stylesheet" href="/Resources/ext/Framework7/css/framework7.3dpanels.min.css"> #}
        <!-- Path to your custom app styles-->
        <link rel="stylesheet" href="/Resources/ext/Framework7/css/my-app.css">
        <link rel="stylesheet" href="/Resources/css/style.css">
    </head>
    <body>
        <!-- Status bar overlay for full screen mode (PhoneGap) -->
        <div class="statusbar-overlay"></div>
        <!-- Panels overlay-->
        <div class="panel-overlay"></div>
        <!-- Left panel with reveal effect-->
        <div class="panel panel-left panel-reveal layout-dark menu">
            <div class="content-block-title">Actions</div>

            <div class="list-block">
                <ul>
                    <li>
                        <a class="close-panel item-link" href="/app.php/">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Home</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="close-panel item-link" href="/app.php/feeds/all">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">All feeds</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="close-panel item-link" href="/app.php/feeds/manage">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Manage feeds</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="views">
            <div class="view view-main">

                {% block navbar %}

                {% endblock %}


                <div class="pages navbar-through toolbar-through">

                    <div data-page="{% block page %}{% endblock %}" class="page">

                        <div class="page-content hide-bars-on-scroll">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="popup popup-addFeed">
            <div class="content-block">
                <p>Here you can add a new feed into your RSS Reader. You just have to enter the address into the box below.</p>

                <form href="#" method='POST'>
                    <div class="list-block">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label">URL</div>
                                        <div class="item-input">
                                            <input type="url" name="f_url" placeholder="URL of the feed (Atom or RSS)" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-50">
                            <input class="button button-big button-fill color-green" type="submit" value="Submit" />
                        </div>
                        <div class="col-50">
                            <a href="#" class="button button-big button-fill color-red close-popup">Cancel</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="/Resources/ext/JQuery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/Resources/ext/Framework7/js/framework7.min.js"></script>
    <script type="text/javascript" src="/Resources/ext/Framework7/js/my-app.js"></script>
</body>
</html> 