{% extends "layout.html.twig" %}

{% block page %}manageFeeds{% endblock %}

{% block navbar %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding">
                <a href="/app.php" class="link">
                    <i class="icon icon-back">&nbsp;</i>
                    <span>Home</span>
                </a>
            </div>
            <!-- Now, Left and Center parts reflect page title and page links, let's slide them -->
            <div class="center sliding">Manage feeds</div>

            <!-- Right part doesn't related to other pages -->
            <div class="right">
                <a href="#" class="link icon-only open-addFeed">Add feed</a>
                <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if feeds|length > 0 %}
        <div class="content-block-title">
            Hint
        </div>

        <div class="content-block">
            <div class="content-block-inner">
                <p>If you want to remove a feed, just swipe right to the left on the list and click on Delete.</p>
            </div>
        </div>
        
        <div class="list-block">
            <ul>
                {% for feed in feeds %}
                    <li class="swipeout" data-id="{{ feed.id }}">
                        <div class="swipeout-content item-content">
                            <div class="item-inner">{{ feed.title }}</div>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete" data-confirm="Are you sure you want to delete this feed ?" data-confirm-title="Confirm ?">Delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="content-block-title">
            No informations to show
        </div>

        <div class="content-block">
            <div class="content-block-inner">
                <p>You have not subscribed any feed yet. You can add a feed <a href="#" class="link open-addFeed">here</a>.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}