<div class="content-block-title">Tag</div>
<div class="list-block">
    <ul>
        {% for feed in feeds %}
            <li>
                <a class="close-panel item-link" href="/app.php/feeds/{{ feed.id }}">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">{{ feed.title }}</div>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
        {% for feed in feeds %}
            <li>
                <a class="close-panel item-link" href="/app.php/feeds/{{ feed.id }}">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">{{ feed.title }}</div>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>